.carousel__nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-primary);

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 3px;
  }
}
